.App {
  text-align: center;
}

.App-logo {
  float: left;
  height: 3em;
}

.App-header {
  background-color: #222;
  color: white;
  height: 3em;
  padding: 0.1em;
  position: fixed;
  width: 100%;
}

.App-title {
  float: left;
  font-size: 1.5em;
  margin: 0.4em 0.2em 0.2em 0;
}

.App-intro {
  font-size: large;
}

.App-footer {
  background-color: #222;
  bottom: 0;
  color: white;
  height: 2em;
  position: fixed;
  width: 100%;
}

.App-footer-copyright {
  font-size: 0.5em;
  padding-top: 1em;
}
