.NotesBody-window {
  height: calc(100% - 5.2em);
  left: 15em;
  position: fixed;
  top: 3.2em;
  width: 100%;
}

.NotesBody-freeform {
  height: 100%;
  width: 100%;
}

.NotesBody-columns {
  height: 100%;
  width: 100%;
}
