.UserMenu-items {
  float: right;
}

.UserMenu-items div {
  display: inline-block;
  padding-right: 1em;
  padding-top: 0.5em;
}

.UserMenu-items div a {
    color: white;
    text-decoration: none;
}
